<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'>
    <title></title>
    <meta name='author' content=''>
    <meta name='description' content=''>
    <meta name='keywords' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=0'>
  </head>
  <body>
    <h1> Hello <%= title %> </h1>
      <form action="/signup" method="post">
        <input required type="email" name="email" placeholder="Your email" />
        <input required type="password" name="password" placeholder="Enter a password" />
        <input type="submit" value="Signup for a trial">
      </form>
  </body>
</html>


