<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'>
    <title></title>
    <meta name='author' content=''>
    <meta name='description' content=''>
    <meta name='keywords' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=0'>
    <link rel='icon' type='image/png' href='favicon.png'>
    <link rel='stylesheet' href='main.css'>
    <script defer src='main.js'></script>
  </head>
  <body>
    <h1> Login Page </h1>
    <form action="/login" method="post">
      <input required class = "mb-3 form-control" type="email" name="email" placeholder="Your email" />
      <input required class = "mb-3 form-control" type="password" name="password" placeholder="Your password" />
      <input class = "btn btn-primary btn-xl" type="submit" value="Login">
    </form>
  </body>
</html>