<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'>
    <title>IDEA</title>
    <meta name='author' content=''>
    <meta name='description' content=''>
    <meta name='keywords' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=0'>
  </head>
  <body>
    <h1> MAin Page </h1>
  </body>
</html>